@font-face {
   font-family: Mont-reg;
   src: url(../fonts/Montserrat/Montserrat-Regular.ttf)
}

@font-face {
   font-family: Mont-med;
   src: url(../fonts/Montserrat/Montserrat-Medium.ttf)
}

@font-face {
   font-family: Mont-light;
   src: url(../fonts/Montserrat/Montserrat-Light.ttf)
}