@include tablet {

   main {
      .bio {
         padding: 5rem 0;

         &__title {
            padding-bottom: 0;
         }

         &__container {
            flex-direction: row-reverse;

            .bio__image {
               margin: 1.5rem;
               max-width: 50px;
            }
         }
      }

      .projects {
         &__container {
            grid-gap: 3rem;
            grid-template-columns: 1fr 1fr;

            .figure {
               margin-bottom: 4rem;

               &__figcaption {
                  transform: translateY(-0%);

                  h2 {
                     font-size: calc(1rem + 1vw);
                     line-height: 1.2rem;
                  }

                  .description {
                     font-size: calc(0.6rem + 1vw);
                     line-height: 1rem;
                  }
               }

               &:hover .figure__figcaption {
                  transform: translateY(-70%);
               }

               &:hover h2 {
                  font-size: calc(1rem + 1vw);

               }

               &:hover .description {
                  font-size: calc(0.6rem + 1vw);
               }
            }
         }
      }
   }

   .footer {
      justify-content: space-evenly;
   }
}