@include tablet {

   main {
      .bio {
         padding: 5rem 0;

         &__title {
            padding-bottom: 0;
         }

         &__container {
            flex-direction: row-reverse;

            .bio__image {
               margin: 1.5rem;
               max-width: 50px;
            }
         }
      }

      .projects {
         &__container {
            grid-template-columns: 1fr 1fr;
            grid-gap: 3rem;

            figure {
               margin-bottom: 4rem;

               &__caption {
                  h2 {
                     // font-size: calc(1rem + 1vw)
                  }

                  .description {}
               }
            }
         }
      }
   }

   .footer {
      justify-content: space-evenly;
   }
}