// COLORS
$color-light: #fff; //Header background

// FONTS
$p-fontFamily: 'Roboto',
sans-serif;
$p-fontSize: 1.2rem;
$p-fontWeight: 300;
$p-lineHeight: 32px;

$h1-fontFamily: Mont-reg,
sans-serif;

$h2-fontFamily: Mont-reg,
sans-serif;
$h2-paddingBottom: 3rem;

// BUTTONS/BIO IMAGE
$btn-fontSize: 1.2rem;
$btn-height: 40px;
$btn-Outline: none;

$borderRadius: 20%;