// COLORS
$color-light: #fff; //Header background
$color-blue: #0C5FB0;

// FONTS
// P
$p-fontFamily: 'Roboto',
sans-serif;
$p-fontSize: 1.2rem;
$p-fontWeight: 300;
$p-lineHeight: 32px;

// BIO IMAGE
$borderRadius: 10%;