@import '_variables';
@import '_fonts';
@import '_mixins';

*,
*::before,
::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4 {
   font-style: normal;
}

h1 {
   font-family: Mont-reg,
      sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 2.5rem;
   line-height: 40px;
}

h2 {
   font-family: Mont-reg,
      sans-serif;
   letter-spacing: 1px;
   color: #444;
   font-weight: 900;
   font-size: 2rem;
   line-height: 3.2rem;
   padding: 5px 0;
   padding-bottom: 4rem;
   text-transform: uppercase;
}

p {
   font-family: 'Roboto',
      sans-serif;
   font-size: 1.2rem;
   font-weight: 300;
   line-height: 38px;
   padding: 1.5rem 0;
   max-width: 550px;
}

img {
   display: block;
   height: auto;
}

button {
   font-size: 1.2rem;
   height: 40px;
   outline: none;
   $borderRadius: 20%;
   text-transform: uppercase;
}

.page-designs-1 {
   position: absolute;
   width: 310px;
   height: 25px;
   left: -73px;
   top: -50px;
   background: $color-blue;
   border-radius: 30px;
   transform: rotate(-39.11deg);
}

.page-designs-2 {
   position: absolute;
   width: 310px;
   height: 14px;
   left: -60px;
   top: -20px;
   background: $color-blue;
   border-radius: 30px;
   transform: rotate(-39.11deg);
}

.button {
   border-radius: $borderRadius;
}

//************** HEADER **************

header {
   background-color: $color-light;
   min-height: 100%;
   width: 100%;
   padding-bottom: 7rem;
   padding-top: 7rem;

   nav {}

   .hero {
      display: flex;
      flex-direction: column;
      padding-left: 5vw;
      padding-right: 5vw;

      &__title {}

      &__myname {
         font-size: 1rem;
      }

      p {}

      &__cta {
         display: flex;
         flex-direction: column;
         padding: 2rem 0;
         width: 200px;

         .cta-projects {
            background-color: $color-blue;
            color: #fff;
            margin-bottom: 1rem;
         }

         .cta-contact {
            background-color: $color-blue;
            color: #fff;
         }
      }
   }
}

main {

   //************** BIO **************

   .bio {
      display: flex;
      flex-direction: column;
      background-color: $color-blue;
      color: $color-light;
      padding: 7rem 0;
      padding-left: 5vw;
      padding-right: 5vw;

      .bio__title {
         color: $color-light;
         padding-bottom: 5rem;
      }

      &__container {
         display: flex;
         flex-direction: column;

         .bio__image {
            border-radius: 50%;
            margin: 2rem 0;
            margin-left: 5vw;
            width: 150px;
            height: 150px;
         }

         .bio__paragraph {
            color: $color-light;
         }
      }
   }

   //************** PROJECTS **************

   .projects {
      padding: 7rem;
      padding-left: 5vw;
      padding-right: 5vw;

      &__title {
         padding-bottom: 7rem;
      }

      &__container {
         display: grid;
         grid-template-columns: 1fr;
         justify-items: center;
         width: 100%;

         .figure {
            position: relative;
            // overflow: hidden;
            margin-bottom: 7rem;
            max-height: 100%;

            &__image {
               display: block;
               height: auto;
               max-width: 400px;
               width: 100%;
               border: 1px solid;
            }

            &__figcaption {
               position: relative;
               left: 0;
               right: 0;
               bottom: 0;
               top: 0;
               height: 100%;
               -webkit-transform: translateY(0);
               transform: translateY(0);
               transition: all 350ms ease-in-out;
               z-index: -1;
               opacity: 0;
               text-align: left;
               overflow: hidden;

               h2 {
                  position: absolute;
                  color: #fff;
                  transition: all 500ms;
                  transform: translateY(0);
                  transition-timing-function: cubic-bezier(1, 1, 1, 1);
                  top: 10px;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  line-height: 2rem;
                  font-size: calc(1rem + 2vw);

               }

               .description {
                  position: absolute;
                  top: 50px;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  transition: all 200ms;
                  transform: translateY(-50%);
                  transition-timing-function: cubic-bezier(1, 1, 1, 1);
                  line-height: 1.2rem;
                  font-size: calc(1rem + 2vw);
               }
            }

            &:hover .figure__figcaption {
               transform: translateY(-60%);
               z-index: 1;
               opacity: 1;
               background-color: rgba(169, 243, 224, 0.555);
            }

            &:hover .figure__image {
               opacity: 0.8;
            }

            &:hover h2 {
               color: #000;
               transform: translateY(0);
               // -webkit-transform: translateY(0);
            }

            &:hover .description {
               color: #000;
               transform: translateY(0);
               // -webkit-transform: translateY(80%);
            }
         }
      }
   }

   //************** CONTACT **************

   .contact {
      background-color: $color-blue;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 5rem 0;
      padding-left: 5vw;
      padding-right: 5vw;

      &__title {
         color: #fff;
      }

      &__form {
         color: $color-light;
         display: grid;
         grid-template-columns: 1fr;
         max-width: 400px;
         width: 100%;

         input::placeholder {
            font-size: 1.5rem;
            margin: 0.5rem;
            text-transform: uppercase;
         }

         .contact__label {
            font-family: Mont-reg, sans-serif;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: 1px;
            padding: 0.8rem 0;
            text-transform: uppercase;
         }

         .contact__input {
            border-radius: $borderRadius;
            display: block;
            font-size: 1.5rem;
            letter-spacing: 0.5px;
            padding: 0.5rem 0.5rem;
            margin-bottom: 1rem;
            word-spacing: 1px;
         }

         .contact__textarea::placeholder {
            font-size: 1.5rem;
            font-weight: bold;
            font-family: Mont-reg, sans-serif;
            text-transform: uppercase;
         }

         .contact__textarea {
            display: block;
            letter-spacing: 0.5px;
            padding: 1rem 0.5rem;
            word-spacing: 1px;
         }

         .submit-container {
            padding: 2rem 0;
            text-align: center;
            width: 100%;

            .contact__submit {
               color: darken($color-blue, 20%);
               font-size: 1.3rem;
               font-weight: 600;
               height: 3.5rem;
               letter-spacing: 1px;
               width: 7rem;
            }
         }
      }
   }
}

//************** FOOTER **************

footer {
   align-items: center;
   background-color: #fff;
   display: flex;
   justify-content: space-evenly;
   height: 50px;
   letter-spacing: 1px;
   width: 100%;
   text-transform: uppercase;
}

@import '_tablet';